{% extends 'blog/base.html' %}
{% load static %}

{% block head_title %}关于网站，网站及博主介绍{% endblock %}
{% block metas %}
<meta name="description"
      content="本网站是一个采用django+bootstrap4搭建的个人博客，本着学习和分享的精神，博客项目开源，源代码可以到我的Github中查看，网站建站历程可以查看页面Timeline内容。">
<meta name="keywords" content="网站About页面,关于网站,关于博主,关于站长">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
             <div class="card rounded-0 border-0 p-3 f-16">
                <h2 class="font-weight-bold">关于网站</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <ul class="pl-4 ml-2">
                    <li>本博客基于<a href="https://github.com/Hopetree/izone" target="_blank">github.com/Hopetree/izone</a>搭建，感谢作者开源分享！</li>
                    <li>个人博客，主要分享工作学习心得</li>
                </ul>
                <h2 class="mt-2 font-weight-bold">关于博主</h2>
                <hr style="margin: .1rem;dashed #333;"/>
                <ul class="pl-4 ml-2">
                    <li>Sbybfai于2012年从左家垅男子职业技术学院毕业，成为一名程序员。先在一家游戏公司做服务端开发，痛苦并快乐着。后来项目解散，心灰意冷，索性回到家乡，目前在一家国企里搬砖。</li>
                    <li>Sbybfai最大的爱好是书法，起源于初中语文老师每次批改作文时，都不忘让他“好好练字”。在老师的淫威之下，被迫练字，进而喜欢上书法。虽然时代进步，用笔的机会不多，这项爱好仍不离不弃。除此之外，Sbybfai爱读书，爱睡觉，爱写代码。</li>
                    <li>Sbybfai很懒，喜欢Money但很少花心思研究致富之道。因此，在可预见的未来，很难成为一名成功人士。如果即便如此您仍然需要联系他，可以试试发邮件给他。</li>
                    <li>博主 Github 地址：<a href="https://github.com/sbybfai" target="_blank">https://github.com/sbybfai</a></li>
                    <li>联系邮箱：sbybfai@gmail.com</li>
                </ul>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}